<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of Events</title>
</head>
<body>
<h1>List of Events</h1>
<p th:text="${message}"></p>
<div th:if="${param.restricted}" >
  <p>You don't have required authorities</p>
</div>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Event Date</th>
    <th>Venue</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="event : ${events}">
    <td th:text="${event.name}"></td>
    <td th:text="${event.description}"></td>
    <td th:text="${#dates.format(event.eventDate, 'dd-MM-yyyy')}"></td>
    <td>
      <a th:href="@{/events/edit/{eventId}(eventId=${event.eventId})}">Edit</a>
      <a th:href="@{/events/delete/{eventId}(eventId=${event.eventId})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/events/new">Add New Event</a>
</body>
</html>
